<tr id="{{ id }}">
    <td>{{ firstName }} {{ lastName }}</td>
    <td>{{ email }}</td>
    <td>
        <button class="btn btn-danger btn-sm removeAdmin"><i class="fa fa-fw fa-trash"></i></button>
    </td>
</tr>