<tr id="{{ id }}">
    <td>{{ firstName }} {{ lastName }}</td>
    <td>{{ graduatingYear }}</td>
    <td>
        <a class="btn btn-primary btn-sm" href='/editMember.php?memberID={{ id }}'><i class="fa fa-fw fa-pencil"></i></a>
        <button class="btn btn-danger btn-sm removeAdmin"><i class="fa fa-fw fa-trash"></i></button>
    </td>
</tr>