<tr data-adviser-id="{{ id }}">
    <td>{{ firstName }} {{ lastName }}</td>
    <td>{{ email }}</td>
    <td>
        <a class="btn btn-primary btn-sm" href='/editAdviser.php?adviserID={{ id }}'><i class="fa fa-fw fa-pencil"></i></a>
        <button class="btn btn-danger btn-sm removeAdviser"><i class="fa fa-fw fa-trash"></i></button>
    </td>
</tr>