<tr id="{{ id }}">
    <td>{{ name }}</td>
    <td>
        <a class="btn btn-primary btn-sm" href='/manageOrganization.php?organizationID={{ id }}'>
            <i class="fa fa-fw fa-pencil"></i>
        </a>
        <button class="btn btn-danger btn-sm deleteOrganization">
            <i class="fa fa-fw fa-trash"></i>
        </button>
    </td>
</tr>