<tr id="{{ id }}">
    <td>{{ name }}</td>
    <td>{{ hours }}</td>
    <td>{{ type }}</td>
    <td>{{ contactName }}</td>
    <td>{{ contactPhone }}</td>
    <td>
        <a class="btn btn-primary btn-sm deleteOpportunity" href="/editOpportunity.php?opportunityID={{ id }}">
            <i class="fa fa-fw fa-pencil"></i>
        </a>
    </td>
</tr>